* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #54677c;
}

body {
    min-height: 50vh;
    width: 100%;
    background-color: #e4e4e4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 16px;
}

.card {
    position: relative;
    width: 350px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    padding: 16px;
    margin:  56px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    position:absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-image img {
    width: 100%;
    transform: scale(1.4);
}

p {
    line-height: 27px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    text-align: center;
}

.hobby {
    margin-top: 20px;
    line-height: 40px;
    font-size: 1em;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    text-align: center;
}

.motto {
    line-height: 40px;
    font-size: 1em;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    text-align: center;
}

.name {
    font-family: "EB Garamond", serif;
    font-style: normal;
    margin-top: 170px;
    font-size: 1.6em;
    color: #252424;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 12px 10px;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.4s;
}

button:hover {
    opacity: 0.5;
}

button i {
    color: #fff;
    font-size: 1.4em;
}

/* Socmed colors */
button.github {
    background-color: #24292e;
} 

button.twitter {
    background-color: #1da1f2;
}

button.pinterest {
    background-color: #d3263a;
} 